<div class="clearfix top_buttons"
<p>
	<%= link_to "Create my Account", new_user_registration_path, {:class => "btn btn-primary btn-lg pull-right", :style => "margin-left:10px;"}  %> 
	<%= link_to "Login", new_user_session_path, class: "btn btn-default btn-lg pull-right" %>
</p>
</div>

<div class="jumbotron">
	<h2>Share your memories in Chapel Hill!</h2>

	<% if user_signed_in? %>
          # do something
     <% else %>




	 <% end %>
</div>






