<div class="jumbotron">
	<h1>Share your memories in Chapel Hill!</h1>
	<%= link_to "Create my Account", "#", {:class => "btn btn-primary pull-right", :style => "margin-left:10px;"}  %> 
	<%= link_to "Login", "#", class: "btn btn-success pull-right" %>
</div>


